/* ------------------------ */
/* Basic Setup */
/* ------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    color: #3c3c3c;
    font-family:'Lato','Arial','sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ------------------------ */
/* Reusable Components */
/* ------------------------ */
.row{
    max-width:1140px;
    margin: 0 auto;
}
section{
    padding:80px 0;
}

/* ------------------------ */
/* Header */
/* ------------------------ */

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh ;
    
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left=50%;
    color: white;s
}

.logo{
    height: 80px;
    width: 100px;
    float: left;
    margin-top: 20px;
    }
.main-nav{
    float: right;
    list-style: none;
    margin-top: 40px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom : 2px solid #e67e22;
}
/* ------------------------ */
/* Headings */
/* ------------------------ */


h1{
    margin-top: 0;
    margin-bottom: 20px;
    color:white;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180% ;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
    
}
/* ------------------------ */
/* Paragraphs */
/* ------------------------ */
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box{
    padding: 1%;
}
/* ------------------------ */
/* Buttons */
/* ------------------------ */

.btn{
    display: inline-block;
    padding:10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
}

.btn-full{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right:20px; 
        
}

.btn-ghost{
    border: 1px solid #e67e22;
    
    
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
}

/*------Meals------*/
.img-showcase{
    list-style: none;
    width: 100%
}
.img-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;
}
.imges img{
    width: 100%;
    height: 250px;
}

/*------- How it works ---------*/
.steps-box{
    margin-top: 30px;
}

.app-screen{
    width: 60%;
}

.works-step{
    margin-bottom: 50px; 
    text-align: center;
    margin-right: 50px;
    margin-top: auto;
}
/*------- Footer ---------*/

footer{
    background-color:black;
}

.footer-nav{
    list-style: none;
    float: right;
}
.social-links{
    list-style: none;
    float: right;
}
.social{
    width: 180px;
    float: right;
    height: 80px;
}

.footer-nav li
{
    display: inline-block;
    margin-right: 20px;
}
.p{
    color: white;
}